// bootstrab
@import "../bootstrap/functions";
@import "../bootstrap/variables";

// pages
@import "pages/index";
@import "pages/login";

body{

    background: $black;
//     font-family: 'Roboto', sans-serif;
}
 
// utility classes
.fw-300{
    font-weight: 300;
}
.fw-500{
    font-weight: 500;
}
.fw-700{
    font-weight: 700;
}